a {
    color: black;
    text-decoration:none;
}

html, body {
    height: 100%;
}

a:focus, a:hover {
    color: #f09228;
    text-decoration:none;
}

body {
    padding-top: 2em;
}

span.highlight {
    background-color: #ffffd0;
}
.avatar {
    width:185px;
    height: 170px;
    border-radius: 200px;
    float: left;
    border: 2px solid #ccc;
    box-shadow: 0 0 20px -5px black;
}
